# v0.023_000
version: 1.0.{build}
pull_requests:
  do_not_increment_build_number: false
skip_tags: true
clone_depth: 1
clone_folder: C:\projects\mathperl

# This file replaces & expands upon the original AppVeyor test command sequence:
# AppVeyor.com -> rperl -> Settings -> Test -> Script -> CMD
# choco install strawberryperl --forceX86 && set PATH=C:\strawberry\c\bin;C:\strawberry\perl\site\bin;C:\strawberry\perl\bin;C:\windows\system32;C:\windows; && gcc -v && g++ -v && perl -V && dmake -V || perl Makefile.PL && perl -e"require CPAN;CPAN::Shell->notest('install','App::cpanminus');" && cpanm -n -v --installdeps . && set RPERL_DEBUG=1 && set RPERL_VERBOSE=1 && dmake test

# DEV NOTE: do not test IO::Socket::SSL, about 50% of the time it hangs on the test after "t/sysread_write.t ................. ok"
install:
- cmd: >-

    choco install astyle

    astyle --version

    choco install curl

    curl -V

    curl -O http://strawberryperl.com/download/5.24.0.1/strawberry-perl-5.24.0.1-32bit.msi

    msiexec /i strawberry-perl-5.24.0.1-32bit.msi /quiet /qn /norestart

    set PATH=C:\strawberry\c\bin;C:\strawberry\perl\site\bin;C:\strawberry\perl\bin;C:\windows\system32;C:\windows;%path%

    gcc -v

    g++ -v

    perl -V

    perl -e"require CPAN;CPAN::Shell->notest('install','App::cpanminus');"

    set RPERL_DEBUG=0

    set RPERL_VERBOSE=0

    set PERL5LIB=blib;lib

    set

    perl -le "print for @INC"

    echo RPerl dev install, GitHub latest code, starting...

    set PWD_SAVED=%CD%

    echo RPerl dev install, saved current directory %PWD_SAVED%

    cd ..

    curl -o rperl-master.tar.gz https://codeload.github.com/wbraswell/rperl/tar.gz/master

    tar -xzvf rperl-master.tar.gz

    cd rperl-master

    perl Makefile.PL

    cpanm --installdeps --notest .

    echo Skip RPerl tests, `make test` takes a long time, keep RPerl testing in RPerl repo

    dmake install

    chdir /d %PWD_SAVED%

    set PWD_SAVED=

    echo "RPerl dev install, GitHub latest code, finished!"

    perl Makefile.PL

    cpanm --verbose --notest SDL

    cpanm --verbose --installdeps .

    dmake test
build: off
test: off
deploy: off
